.hero-img-cntr {
  position: relative;
  height: 240px;
  width: 500px;
  margin: auto; 
}

.hero-img-cntr .laptop {
  position: absolute;
  width: 250px;
  height: 160px;
  bottom: 27px;
  right: 80px;
}

.laptop .screen-case {
  position: absolute;
  left: 5.5px;
 width: 225px;
  height: calc(100% - 10px);
  border: 7px solid #fafafa;
  border-top: 12px solid #fafafa;
  box-shadow: 0px 0px 0px 1px silver;
  border-radius: 10px 10px 0 0;
}

.screen-case .webcam {
  height: 5px;
  width: 5px;
  background-color: #555;
  position: absolute;
  border-radius: 50%;
  top: -8px;
  left: calc(50% - 2px);
}


.screen-case .screen {
 border: 1px solid silver; 
  background: #01B6AD;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen .vs-code {
  height: calc(100% * .8);
  width: calc(100% * .7);
  background-color: #555;
}

.vs-code .toolbar {
  top: 0;
  height: 5px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  padding: 1px;
}

.vs-code .toolbar div {
  margin: .5px;
}

.vs-code .toolbar div:nth-of-type(1) {
  height: 2px;
  width: 2px;
  background-color: red;
  border-radius: 50%;
} 

.vs-code .toolbar div:nth-of-type(2) {
  height: 2px;
  width: 2px;
  background-color: yellow;
  border-radius: 50%;
} 

.vs-code .toolbar div:nth-of-type(3) {
  height: 2px;
  width: 2px;
  background-color: lightgreen;
  border-radius: 50%;
} 

.vs-code .code {
  margin: 5px;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-row-gap: 10px;
}

.vs-code .code .cursor-pos {
  height: 6px;
  width: 5px;
  background-color: white;
  grid-column: 2;
  opacity: 1;
  animation: blinking 1s linear infinite;
}

.vs-code .code div {
  height: 5px;
  background-color: silver;
  font-size: 5px;
}

.vs-code .code div:nth-of-type(1) {
  grid-column: 1 / span 5;
  grid-row: 1;
}

.vs-code .code div:nth-of-type(2) {
  grid-column: 2 / span 3;
  grid-row: 2;
}

.vs-code .code div:nth-of-type(3) {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.vs-code .code div:nth-of-type(4) {
  grid-column: 2 / span 5;
  grid-row: 4;
}

.vs-code .code div:nth-of-type(5) {
  grid-column: 2 / span 3;
  grid-row: 5;
}

.laptop .base {
  position: absolute;
  width: 280px;
  height: 10px;
  background-color: #fafafa;
  border: 1px solid silver;
  border-radius: 0 0 15px 15px;
  bottom: 0px;
  left: -15px;
  display: flex;
  justify-content: center;
}

.laptop .base .power-light {
  width: 50px;
  height: 2px; 
  background-color: gray;
}


.hero-img-cntr .table-base {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 80%;
  background-color: tan;
  height: 8px;
  margin-left: 50px;
}

.coffee-cup-cntr {
  width: 100px;
  height: 120px;
  position: absolute;
  left: 45px; 
  bottom: 27px;
}

.coffee-cup-cntr .cup {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65px;
  height: 80px;
  background-color: #F6E7D2;
  border: 1px solid silver;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

.coffee-cup-cntr .cup img {
  height: 50px;
  width: 50px;
  margin-top: 25px;
}

.coffee-cup-cntr .handle {
  position: absolute;
  top: 45%;
  left: 6%;
  z-index: 1;
  width: 40px;
  height: 40px;
  border: 8px solid #F6E7D2;
  box-shadow: 0 0 0 1px silver;
  border-radius: 50%;
}

.steam {
  position: absolute;
  right: 3px;
  top: 3px;
  height: 30px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: steaming 2s linear infinite;
}

.steam div {
  height: 75%;
  width: 2px;
  background-color: gray;
  margin: 4px;
}

@keyframes blinking {
  50% {opacity: 0.5;} 
  100% {opacity: 0.0;} 
}

@keyframes steaming {
  0% {
    opacity: 1;
    top: 30px;
  }
  
  30% {
    opacity: 0.7;
    top: 20px;
  }
  
  80% {
    opacity: 0.0;
    top: 3px;
  }
  
  100% {
    opacity: 0.0;
    top: 3px;
  }
}

.title {
  text-align: center;
  font-size: 62px;
  margin-top: 100px;
}

.tag-line {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  color: white;
  font-size: 45px;
  padding-top: 150px;
}

.dev-info-grid {
  display: grid;
  grid-template-columns: 10% 27.5% 27.5% 27.5% 10%;
  grid-template-rows: 10% 27.5% 27.5% 27.5% 10%;
  min-height: 650px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  margin-top: -100px;
  background-color: white;
  box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
  border: 1.5px solid #F6E7D2;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}

.dev-info-grid ul {
  content: '';
  display: inline-block;
  list-style-image: url("../../images/code-icon.png");
}

.front-end-info {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-right: 1.5px solid #F6E7D2;
  border-bottom: 1.5px solid #F6E7D2;
}

.back-end-info {
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-right: 1.5px solid #F6E7D2;
  border-bottom: 1.5px solid #F6E7D2;
}

.dev-ops-info {
  grid-column: 4 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-bottom: 1.5px solid #F6E7D2;
}

.sub-title {
  text-align: center;
  font-style: italic;
}

.flex-start {
  align-self: flex-start;
}

.is-aqua {
  background-color: #01B6AD;
}

.header {
    margin-bottom: 1.45rem;
    /* border-bottom: 2px solid #0A4958; */
}

.header h1 {
  color: black;
}

.z-icon-cntr:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:7%;
	height:100px;
	position: absolute;
	z-index:1;
	animation: shineIcon 2s infinite 2s;
  
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

@keyframes shineIcon {
	0% {transform:translateX(-100%);}
  50% {transform:translateX(70%);}
	100% {transform:translateX(100%);}
}

.z-icon-cntr {
  display: grid;
  grid-template-columns: 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5;
  grid-template-rows: 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5%, 12.5, 12.5;
  grid-row-gap: .3em;
  max-width: 60px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.z-icon-piece {
  background-color: aqua;
  height: 5px;
  border-radius: 30%;
  background: linear-gradient(to right, aqua, aquamarine);
  box-shadow: 0px .5px .5px .5px aquamarine;
}

.z-icon-piece:nth-of-type(1) {
  grid-column: 2 / span 8;
}

.z-icon-piece:nth-of-type(2) {
  grid-column: 6 / span 3;
}

.z-icon-piece:nth-of-type(3) {
  grid-column: 5 / span 3;
}

.z-icon-piece:nth-of-type(4) {
  grid-column: 4 / span 3;
}

.z-icon-piece:nth-of-type(5) {
  grid-column: 3 / span 3;
}

.z-icon-piece:nth-of-type(6) {
  grid-column: 2 / span 8;
}

.z-icon-shadow {
  grid-column: 4 / span 4;
  grid-row: 8;
  background: linear-gradient(white, white, lightgray);
  height: 3.5px;
  border-radius: 50%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
  transition: all 300ms;
}

svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
